<section class="todo" [ngClass]="{'full-width': !isNavOpen}">
    <h1>My Todo List</h1>
    <form class="todo__form form-group" [formGroup]="todoForm">
        <div class="input-group">
            <input 
                type="text" 
                class="form-control"  
                placeholder="Todo name"
                formControlName="description">
            <div class="input-group-append">
                <button class="btn btn-primary" 
                        type="button" 
                        (click)="onAddTodo()"
                        [disabled]="!todoForm.valid"
                >Add</button>
            </div>
        </div>
        <p class="warning-message" *ngIf="!todoForm.get('description').valid && todoForm.get('description').touched">
            This field is required!
          </p>
    </form>
    <ul class="todo__list">
        <li class="todo__item" *ngFor="let todo of todoList; let i = index;">
            <app-todo-item [todo]="todo" (removeItem)="onDeleteTodo(i)"></app-todo-item>
        </li>
    </ul>
</section>

<!-- <section class="todo">
    <h1>My Todo List</h1>
    <form class="todo__form form-group">
        <div class="input-group">
            <input 
                type="text" 
                class="form-control"  
                placeholder="Todo name">
            <div class="input-group-append">
                <button class="btn btn-primary" 
                        type="button" 
                >Add</button>
            </div>
        </div>
        <p class="warning-message">
            This field is required!
          </p>
    </form>
</section> -->