.todo {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 20px 60px 20px 240px;
    transition: all .5s;

    h1 {
        margin-bottom: 50px;
    }

    &__list {
        list-style: none;
    }
}

.full-width {
    padding: 20px 60px 20px 91px; 
}

.warning-message {
    padding-left: 10px;
    margin-top: 5px;
    color: red;
}
