<section class="dashboard" [ngClass]="{'full-width': !isNavOpen}">
    <!-- <app-container-todo></app-container-todo> -->
    <h1 [ngClass]="{'highlight': isActive}">Dashboard</h1>
    <p *ngIf="isActive" class="info">Heading has been highlighted</p>
    <button (click)="changeColor()">Click me!</button>
</section>

