.dashboard {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 20px 200px;
    transition: all .5s;
}

.full-width {
    padding: 51px; 
}

.highlight {
    color: darkorange;
}

.info {
    padding: 20px;
}

button {
    padding: 30px;
}