<nav class="nav" [ngClass]="{'nav__hidden': !isNavVisible}">
    <div class="toggle-btn">
        <span class="toggle-btn__text">Close Nav</span>
        <span class="toggle-btn__img" 
              (click)="onNavToggle()" 
              [ngClass]="{'toggle-btn__open': !isNavVisible}">
              
            <img src="../../../assets/icons/chevron-left.svg" alt="icon">
        </span>
    </div>
    <ul class="nav__list">
        <li class="nav__item"><a routerLink="/" class="nav__link">Dashboard</a></li>
        <li class="nav__item"><a routerLink="/todo" class="nav__link">Todo</a></li>
        <li class="nav__item"><a routerLink="/api" class="nav__link">Api</a></li>
    </ul>
</nav>
