.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    background-color: #222;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    transition: all .5s;
        
    &__list {
        height: 100%;
        width: 100%;
        padding: 20px;
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__item {
        margin-bottom: 20px;
    }

    &__link {
        text-decoration: none;
        font-size: 18px;
        color: #fff;
    }

    &__hidden {
        left: -149px;
    }
}

.toggle-btn {
    position: relative;
    height: 52px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__text {
        padding-left: 20px;
    }
    &__img {
        position: relative;
        right: 0;
        cursor: pointer;
        display: flex;
        height: 100%;
        width: 52px;
        align-items: center;
        justify-content: center;
        border-left: 1px solid rgba(255, 255, 255, .2);

        img {
            transform: rotate(0);
            transition: transform .5s;
        }
    }

    &__open {
         img {
            transform-origin: center;
            transform: rotate(180deg);
        }
    }
}