.date {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    font-size: 12px;
}

.not-active {
    background-color: #e9ecef;
}