<div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input 
            type="checkbox"
            [(ngModel)]="todo.isDone" />
      </div>
    </div>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="todo.description"
      [disabled]="todo.isDone"
    />
    <span class="date" [ngClass]="{'not-active': todo.isDone}">{{todo.date | date: 'dd/MM/yy'}}</span>
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="removeTodoClick($event)"
      >
        Remove
      </button>
    </div>
</div>