.api {
    height: 100vh;
    width: 100vw;
    padding: 20px 20px 20px 220px;
    transition: all .5s;

    button {
        margin-bottom: 50px;
    }

}

.full-width {
    padding: 20px 20px 20px 71px; 
}

.user {
    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        margin-bottom: 50px;
    }

    &__img {
        min-height: 200px;
    }
}