<section class="api" [ngClass]="{'full-width': !isNavOpen}">
    <p>api works!</p>
    <p>Aby wysłać HTTP request potrzebujemy</p>
    <ul>
        <li>URL (API Endpoint)</li>
        <li>Http Verb (POST, GET, PUT, ...) Definiuje jakie zapytanie chemy wysłać na endpoint</li>
        <li>Headers (Dodatkowe metadane)</li>
    </ul>
    <button (click)="onSendRequest()">Send Request</button>

    <ul class="user__list">
        <li class="user__item" *ngFor="let user of userList.data">
            <img class="user__img" [src]="user.avatar" alt="avatar"/>
            <span>{{user.first_name}}</span>
        </li>
    </ul>

</section>

